.filterForm {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 28px 22px 30px;
  margin-bottom: 36px;
  box-sizing: border-box;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.formWrapper {
  position: relative;

  overflow: hidden;
  animation: showFilter 0.1s ease-out;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.85;
  text-align: left;

  color: #000000;

  width: 100%;
  padding: 18px;
  box-sizing: border-box;

  opacity: 0.75;

  background-color: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  cursor: pointer;
  transition: background-color 0.1s;
}

.dropDown {
  position: absolute;
  top: 107px;
  z-index: 1;

  width: calc(100% - 44px);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 22px;
  box-sizing: border-box;

  background-color: #ffffff;

  border: 1px solid #dcdcdc;
  border-radius: 6px;

  animation: showDropdown 0.1s ease-out;
}

.selectClose {
  transform: rotate(180deg);
}

.dropDownItem {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.85;

  display: flex;
  align-items: flex-end;

  color: #000000;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  opacity: 0.75;

  cursor: pointer;
  transition: background-color 0.1s;
}

.dropDownItem:last-child {
  border: none;
}

.dropDownItem:hover,
.select:hover {
  background-color: #f6f6f6;
}

.dropDownItemText {
  word-break: break-all;

  padding: 16px 19px;
}

.inputsWrapper {
  display: flex;
  justify-content: space-between;
}

.filterInput {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.94;

  color: #000000;

  opacity: 0.75;

  width: 46%;
  padding: 18px;
  box-sizing: border-box;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.filterInput::placeholder {
  color: #d9d9d9;
}

@keyframes showFilter {
  from {
    height: 0;
  }
  to {
    height: 260px;
  }
}
