.pageWrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;

  padding-right: calc(50% - 190px);
  padding-left: calc(50% - 190px);
  padding-top: 40px;
}
