.nav {
  display: flex;
  align-items: center;

  margin-bottom: 34px;
}

.backButton {
  margin-right: 24px;

  cursor: pointer;
}

.logo {
  cursor: pointer;
}

.location {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.15;

  color: #000000;

  margin: 0;
  margin-bottom: 17px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;

  color: #000000;

  opacity: 0.5;

  margin: 0;
  margin-bottom: 28px;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.94;

  color: #000000;

  margin: 0;
  margin-bottom: 21px;
}
